/* Add some padding to shift the body down underneath the navbar. */
body {
    padding-top: 60px;
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

/* Get rid of margin under form controls that are in table cells. */
table td form, table td input[type='text'], table td button {
    margin-bottom: 0;
}

img.button-icon {
    width: 60px;
}

.alert-info {
	background-color:#F9EDBE;
	border-color:#F0C36E;
	color:#222222;
	box-shadow: 0 2px 4px RGBA(0,0,0,0.2);
	text-align: center;
	margin: 0 auto 0 auto;
}

input.playbook-img {
	width:100%;
}

div.span12 {
	margin-left:0px;
}