<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HuskyGlass</title>
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        media="screen">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css"
        rel="stylesheet" media="screen">
  <link href="/static/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">HuskyGlass</a>
      <!-- <ul class="nav nav-pills pull-right">
		  <li class="new-active"><a href="#">Playbook</a></li>
		  <li><a href="#">Previous plays</a></li>
	  </ul> -->
    </div>
  </div>
</div>

<div class="container">

  {% if message %}
  <div class="alert alert-info">{{ message }}</div>
  {% endif %}
  
  <div class="span12">
  <h2>Playbook</h2>
  <p>Select a play below to push the corresponding card out to players.</p>
  </div>

  <div class="row">
	  <div class="span4 playbook-parent">
		  <form action="/" method="post">
	        <input type="hidden" name="operation" value="insertItem">
	        <input type="hidden" name="message" value="Go Huskies!">
	        <input type="hidden" name="imageUrl"
	               value="/static/images/01.png">
	        <input type="hidden" name="contentType" value="image/png">
	        <span class="play-text">Play name</span>
	        <input class="playbook-img" type="image" src="/static/images/playcard01_light.png" alt="Submit Form" />
	      </form>
	  </div>
	  <div class="span4 playbook-parent">
		  <form action="/" method="post">
	        <input type="hidden" name="operation" value="insertItem">
	        <input type="hidden" name="message" value="Go Huskies!">
	        <input type="hidden" name="imageUrl"
	               value="/static/images/01.png">
	        <input type="hidden" name="contentType" value="image/png">
	        <span class="play-text">Play name</span>
	        <input class="playbook-img" type="image" src="/static/images/playcard01_light.png" alt="Submit Form" />
	      </form>
	  </div>
	  <div class="span4 playbook-parent">
		  <form action="/" method="post">
	        <input type="hidden" name="operation" value="insertItem">
	        <input type="hidden" name="message" value="Go Huskies!">
	        <input type="hidden" name="imageUrl"
	               value="/static/images/01.png">
	        <input type="hidden" name="contentType" value="image/png">
	        <span class="play-text">Play name</span>
	        <input class="playbook-img" type="image" src="/static/images/playcard01_light.png" alt="Submit Form" />
	      </form>
	  </div>    
  </div>
  
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
